html{
	font-size: 10px;
	scroll-behavior: smooth;
}

body{
	font-family: "Merriweather", Open Sans;
	margin: 0;
	box-sizing: border-box;
	background-color: #191212;
	color: #fff;
}

.container{
	width: 100%;
}

.red{
	color: #f64b43;
}

.yellow{
	color: #d3a959;
}

.header-class{
	width: 100%;
	min-height: 5vh;
	background-color: #191212;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	top: 0;
}

.header-class .logo{
	width: 150px;
	margin: auto;
}

.header-class .logo img{
	width: 100%;
}


.header-class .nav{
	width: 80%;
	margin-right: 2rem;
}

.nav ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.nav ul li{
	font-size: 2.5rem;
	padding: 1rem;
}

.nav ul li a{
	text-decoration: none;
	color: #fff;
}

.intro-container{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	margin-top: 15em;
}

.intro-top{
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
}

.intro-text-container{
	width: 50%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.intro-text-container ul{
	list-style-type: none;
	padding: 0.3rem;
}

.intro-text-container .text{
	width: auto;
}

.intro-text-container .text ul{
	display: flex;
	margin: 0;
}

.intro-text-container .text ul li{
	padding: 1rem;
}

.big{
	font-size: 3.5rem;
	font-family: "Heebo", Open Sans;
}

.big ul{
	margin-left: 2em;
}


.small{
	font-size: 2.75rem;
	font-family: "Merriweather", Open Sans;
	margin: 0 2rem;
}

.intro-img-container{
	width: 200px;
	height: 250px;
	border: 1px dotted yellow;
	height: auto;
	margin: auto;
	background-color: #bcbcbc;
}

.intro-img-container img{
	width: 100%;
	height: 100%;
}

.intro-bottom{
	width: 100%;
	padding: 1.25rem;
	margin: 2.5rem auto;
	display: flex;
	flex-direction: row;
	justify-content: center;	
}

.intro-bottom-text-container{
	width: 90%;
	margin: 0 auto;
}

.intro-bottom-text-container ul{
	list-style-type: none;
	margin: 0.5rem auto;
	padding: 0.2rem;
	display: flex;
	justify-content: center;
}

.intro-bottom-text-container ul li{
	font-size: 2.25rem;
	padding: 1rem;
}


#signup-section{
	margin: 2rem auto;
}

.signup-title-container{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.signup-title{
	color: #d3a959;
	font-family: "Heebo", Open Sans;
	font-weight: 700;
}

.signup-title-container p{
	font-size: 1.75rem;
	padding: 0.125rem;
	margin: 0 auto;
}

.signup-title-container .signup-title{
	font-size: 2.75rem;
	padding: 0.125rem;
	margin: 0 auto;
}

.signup-title-container span{
	color: #f64b43;
}

#form{
	width: 100%;
	margin: 0 auto;
	padding: 0.3rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#form label{
	font-size: 1.75rem;	
}

#form #email{
	padding: 0.5rem;
	margin-left: 0.75rem;
}

#submit{
	background-color: #f64b43;
	color: #fff;
	margin-left: 0.75rem;
}

.features{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
}

.features .feature-box{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0.5rem;
	margin: 0.75rem;
}

.feature-box .feature-img{
	width: 45%;
	margin: 0 auto;
	border: 1px solid #fff;
}

.feature-box .feature-img img{
	width: 100%;
}

.feature-box .feature-text{
	width: 70%;
	border: 1px solid #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.feature-box .feature-text p{
	font-size: 2.75rem;
	margin: 0.2rem;
	padding: 0.2rem; 
}

.video-section-title{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 4.25rem;
	font-family: "Heebo", Open Sans;
	margin-top: 2rem;
}

.video-section-title p{
	margin: 0; 
	padding: 0;
}


#video-box{
	width: 100%;
	display: flex;
	justify-content: center;
}

#video-box iframe{
	max-width: 720px;
	width: 100%;
	margin: 5rem auto;
	border:	5px solid #262625;
	border-radius:5px;
}

.gallery-title{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.gallery-title p{
	font-size: 3.5rem;
	font-family: "Heebo", Open Sans;
	margin: 0.2rem;
	padding: 0;
}

.gallery-image-container{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.gallery-image-container .img-card{
	width: 35%;
	height: auto;
	border: 1px solid #fff;
	margin: 5% auto;
}

.gallery-image-container .img-card img{
	width: 100%;
	height: 100%;
}

.pricing-title{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem 2rem; 
}

.pricing-title p{
	font-size: 3.5rem;
	font-family: "Heebo", Open Sans;
	margin: 0.2rem;
	padding: 0;
}

.pricing-content{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 5rem;
}

.product-image{
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-image img{
	width: 100%;
	margin: 0 auto; 
	border: 1px solid #fff;
}

.product-pricing-container{
	width: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.product-pricing-container .price-card-div{
	width: 100%;
	border: 1px solid #d3a959;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem;
}

.product-pricing-container .price-card-div p{
	font-size: 2.75rem;
	margin: 0.2rem auto;
	padding: 1.25rem; 
}

footer{
	width: 100%;
	margin: 0;
	padding: 0;
}

.footer-class{
	background-color: #302c2c;
	color: #fff;
	border: 1px solid #fff;
}

.footer-class .footer-top{
	width: 100%;
}


.footer-class .footer-top .credit-title{
	width: 90%;
	margin: 0 auto;
	padding-top: 2rem;
}

.credit-title ul{
	width: 90%;
	margin: 0;
	display: flex;
}

.credit-title ul li{
	width: 90%;
	margin: 0 auto;
	list-style-type: none;
}

.credit-title ul li a{
	text-decoration: none;
	color: orange;
}

.footer-class .footer-top .credit-text{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.credit-text .credit-text-sub{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.footer-class .footer-bottom{
	width: 100%;
	border: 1px solid #fff;

}

.footer-class .footer-bottom{
	display: flex;
	justify-content: center;
}

.footer-class .footer-bottom p{
	font-size: 1.25rem;
}

.footer-bottom .twt{
	font-size: 1.5rem;
	margin-left: 2rem;
}

.footer-bottom .twt a{
	color: #14bcd7;
	text-decoration: none;
	font-size: 1.75rem;
}

@media(max-width: 770px){
	.header-class{
		width: 100%;
		min-height: 5vh;
		height: 10vh;
		background-color: #191212;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 0.5rem;
	}

	.header-class .logo{
		width: 20%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
	}

	.header-class .logo img{
		width: 100%;
		margin: 0 auto;
	}

	.header-class .nav{
		width: 100%;
		background-color: #191212;
		border-bottom: 1px solid #d3a959;
		display: flex;
		justify-content: center;
	}

	.nav ul{
		list-style-type: none;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.nav ul li{
		font-size: 1.75rem;
		display: flex;
		justify-content: space-around;
	}

	.nav ul li a{
		text-decoration: none;
		color: #fff;
	}

	.intro-container{
		width: 100%;
		height: auto;
		margin-top: 120px;
	}

	.intro-container .intro-top{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.intro-container .intro-top .intro-text-container{
		width: 90%;
	}

	.intro-text-container ul {
		list-style-type: none;
		display: flex;
		flex-direction: column;
	}

	.intro-text-container .intro-top .text ul li{
		padding: 1rem;
	}

	.big{
		font-size: 2rem;
	}

	.big ul{
		display: flex;
		flex-direction: column;
	}

	.small{
		font-size: 1.75rem;
	}

	.small ul{
		display: flex;
		flex-direction: row;
	}

	.intro-bottom{
		width: 100%;
		padding: 1.25rem;
		margin: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;	
	}

	.intro-bottom .intro-bottom-text-container{
		width: 100%;
	}

	.intro-bottom-text-container ul{
		list-style-type: none;
		margin: 0.2rem auto;
		padding: 0.2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.intro-bottom-text-container ul li{
		font-size: 2rem;
		padding: 1rem;
	}


	.signup-title-container{
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.signup-title-container p{
		font-size: 1.25rem;
	}

	#form{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0.5rem;
	}

	#form input{
		margin: 0.2rem;
	}

	.features{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.features .feature-box{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 0.5rem;
	}

	.feature-box .feature-img{
		width: 45%;
		margin: 0 auto;
	}

	.feature-box .feature-img img{
		width: 100%;
	}

	.feature-box .feature-text{
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.feature-box .feature-text p{
		font-size: 2.5rem;
		margin: 0.2rem;
		padding: 0.2rem; 
	}

	.video-section-title{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 2.75rem;
		margin-top: 2rem;
	}

	#video-box{
		width: 100%;
		display: flex;
		justify-content: center;
	}

	#video-box iframe{
		max-width: 300px;
		height: 220px;
		width: 100%;
		margin: 5rem auto;
		border:	5px solid #262625;
		border-radius:5px;
	}

	.gallery-image-container{
		width: 100%;
		margin: 2rem auto;
	}

	.pricing-title{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.pricing-title p{
		font-size: 2.25rem;
		margin: 0.2rem;
		padding: 0;
	}

	.pricing-content{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.product-image{
		width: 50%;
		margin: 1rem auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.product-image img{
		width: 100%;
		margin: 0 auto;
		border: 1px solid #fff;
	}

	.product-pricing-container{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.product-pricing-container .price-card-div{
		width: 90%;
		border: 1px solid #d3a959;
		display: flex;
		justify-content: center;
		margin: 2rem;
	}

	.product-pricing-container .price-card-div p{
		font-size: 2rem;
	}

	footer{
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.footer-class .footer-top{
		width: 100%;
	}

	.footer-class .footer-top .credit-title{
		width: 100%;
	}

	.credit-title ul{
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		padding: 0;
	}

	.credit-title ul li{
		margin: 0 auto;
		list-style-type: none;
	}

	.credit-title ul li a{
		text-decoration: none;
		color: orange;
	}

	.credit-text .credit-text-sub{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.footer-class .footer-bottom{
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.footer-class .footer-bottom p{
		font-size: 1.15rem;
	}

	.footer-bottom .twt{
		font-size: 1.25rem;
	}

	.footer-bottom .twt a{
		color: #14bcd7;
		text-decoration: none;
		font-size: 1.25rem;
	}
}
